.header {
    background-color: var(--cor-primaria);
    height: 54px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo{
    display: flex;
    align-items: center;
}
.menu_hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
}

.menu_hamburguer div {
   
    width: 30px;
    height: 5px;
    background: var(--cor-secundaria);
    border-radius: 8px;
}
