@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --cor-primaria: #0A192B;
    --cor-secundaria: #fefefe;
    --cor-de-destaque: #186562;
    --cor-de-apoio: #32B3DA;   
    
}

html{
    background: var(--cor-primaria);
    align-items: center;
    scroll-behavior: smooth;
    
    
}


body::-webkit-scrollbar {
  width: 8px;               
}

body::-webkit-scrollbar-track {
  background: var(--cor-de-apoio);        
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-primaria);    
 
}