*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --cor-primaria: #0A192B;
    --cor-secundaria: #fefefe;
    --cor-de-destaque: #186562;
    --cor-de-apoio: #32B3DA;   
    
}

html{
    background: var(--cor-primaria);
}